/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: relative;
    background-color: aliceblue;
}

.logo img {
    width: 120px; 
    height: auto;
}

.menu-nav {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border-radius: 10px;
}

.menu-nav a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

.menu-nav a:hover {
    background-color: rgb(193, 229, 239);
}
.akun {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: auto;
}

.akun button {
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.signIn button {
    background-color: rgb(185, 205, 243);
}

.signUp button {
    background-color:rgb(246, 250, 193);
    color: rgb(20, 8, 8);
}

/* First Section */
.first-section {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px;
    text-align: center;
}

.konten-tulisan{
    flex: 1;
    max-width: 50%;
}

.gambar{
    flex: 1;
    max-width: 50%;
}

.gambar img {
    width: 100%;
    max-width: 600px;
    height: auto;
}

/* Study Groups Section atau Section Kedua */
.studyGroups-section {
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.judulSection2{
    padding: 15px;
    text-align: left;
}

.menuPelajaran {
    display: flex;
    gap: 15px;
    padding: 10px;
}

.menuPelajaran a {
    font-weight: bold;
    color: rgb(97, 97, 176);
    padding-left: 8px;
}

.materi-section {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    padding-left: 10px;
    /* align-items: stretch; */
}

.advancedCalculus, .organicChemist, .spanishConversation {
    border: 1px solid #807a7a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    background-color: rgb(195, 234, 241);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tombolBergabung button {
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    background-color: rgb(145, 145, 223);
    color: white;
    cursor: pointer;
}

/* Study Tools Section atau section tiga */
.studyTools {
    padding: 50px 15px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.card-study {
    padding-top: 10px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
}

.visualStudy, .SharedDocuments, .StudyPlanner {
    border: 1px solid #807a7a;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    background-color: rgb(246, 250, 193);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

